[Unit]
Description=Test Service
After=syslog.target network-online.target remote-fs.target nss-lookup.target
Wants=network-online.target

[Service]
Type=simple
ExecStart=/opt/Password-Manager/venv/bin/python3 /home/karam/Password-Manager/app.py

[Install]
WantedBy=multi-user.target

