flask
flask-sqlalchemy
flask-login
Flask-WTF
py3-validate-email
Flask-Mail

Flask-Bcrypt
Flask-DebugToolbar
Flask-Migrate
Flask-Testing
Flask-Script
email-validator
coverage

PyCryptodome
rsa
validate_email
requests
