{% extends 'base.html' %}
{% block head %}
    <title>Password Manager</title>
{% endblock %}

{% block body %}
    <script> var clipboard = new ClipboardJS('.btn'); </script>
    <div class="main-block" style="width: 1500px">
	<h1> Passwords </h1>
	<table>
		<tr>
			<th>Name</th>
			<th>Username</th>
			<th type="password">Password</th>
			<th style="width:60px">Control</th>
			<th>Date Created</th>

			<th>Date Modified</th>
		</tr>
		{% for record in records %}
			<tr>
						<td style="max-width:80px" >{{ record.Name }}</td>
						<td style="max-width: 200px">{{ record.Username }}</td>
						<td>
							
						  <button class="btn" data-clipboard-action="copy" data-clipboard-text={{record.Password}} style="width:100px">Copy</button>
							</td>

				<td>
				  <form style="margin:auto" action="/update/{{record.Id}}" method="GET">
					  <button style="width:100px" href="/">Update</button>
				  </form>

					<br>
				  <form style="margin:auto" action="/delete/{{record.Id}}" method="GET">
					  <button style="width:100px" href="/">Delete</button>
				  </form>

				</td>
				<td style="max-width:140px">{{ record.date_created }}</td>
				<td style="max-width:140px">{{ record.date_modified }}</td>

			</tr>
		{% endfor %}
	</table>
	<br>
	  <form action="/add" method="GET">
		  <div style="margin:auto; width:220px" class="btn-block">
			  <button href="/">Add Password</button>
		</div>
	  </form>


    </div>
{% endblock %}
