{% extends 'base.html' %}
{% block head %}
    <title>Password Manager</title>
{% endblock %}

{% block body %}
    <div class="main-block">
	<h1> Passwords </h1>
	<table>
		<tr>
			<th>Name</th>
			<th>Username</th>
			<th type="password">Password</th>
		</tr>
		{% for record in records %}
			<tr>
				<td>{{ record.Name }}</td>
				<td>{{ record.Username }}</td>
				<td>{{ record.Password }}</td>

				<td>
		  <a href="/">Update</a>
		  <a href="/delete/{{record.Id}}">Delete</a>
		</td>

			</tr>
		{% endfor %}
	</table>
	<br>
	<div class="btn-block">
		<a style= "width:50%; horizontal-align:middle; text-align:center;" href="/add">Add Password</a>
	</div>

    </div>
{% endblock %}
