{% extends 'base.html' %}
{% block head %}
    <title>Password Manager</title>
{% endblock %}

{% block body %}
	<h1> Passwords </h1>
	<table>
		<tr>
			<th>Name</th>
			<th>Username</th>
			<th type="password">Password</th>
			<th style="width:60px">Control</th>
		</tr>
		{% for record in records %}
		<tr>
		<td style="max-width:80px" >
			<div style="overflow:auto">{{ record.Name }}</div>
		</td>
		<td style="max-width: 200px"> 
		<div style="overflow:auto">{{ record.Username }}
		</div>
		</td>
		<td>
			
		  <button class="btn" data-clipboard-action="copy" data-clipboard-text={{record.Password}} style="width:100px">Copy</button>
		</td>

		<td>
		
		  <form style="margin:auto" action="/update/{{record.Id}}" method="GET">
			  <button style="width:100px">Update</button>
		  </form>

		  <form style="margin:auto" action="/delete/{{record.Id}}" method="GET">
			  <button style="width:100px">Delete</button>
		  </form>

		  <form style="margin:auto" action="/details/{{record.Id}}" method="GET">
			  <button style="width:100px">Show details</button>
		  </form>

		</td>
		</tr>
		{% endfor %}
	</table>
	<br>
	  <form action="/add" method="GET">
		  <div style="margin:auto; width:220px" class="btn-block">
			  <button>Add Password</button>
		</div>
	  </form>
    </div>
{% endblock %}
