{% extends "base.html"  %}
{% block head  %}
	<style>
		.topnav{
			display:none;
		}
	</style>
{% endblock  %}
{%  block body %}

    <h1>Sign Up</h1>
    <br><br><br>
    <div>
        <form method="POST" action="/signup">
            <div>
		    <label id="icon" for="name"><i class="fas fa-user"></i></label>
                    <input type="text" name="name" placeholder="Name">
            </div>

            <div>
		    <label id="icon" for="name"><i class="fas fa-envelope"></i></label>
                    <input type="email" name="Username" placeholder="Username">
            </div>

            <div>
                    <label id="icon" for="name"><i class="fas fa-unlock-alt"></i></label>
                    <input type="password" name="Password" placeholder="Master Password">
            </div>

	    <div class="btn-block">
		    <button class="btn btn-primary">Sign Up</button>
	    </div>
	</form>
	<form action="/">
	    <div class="btn-block">
		    <button class="btn btn-primary">Back</button>
	    </div>
		
	</form>
{% endblock  %}
