{% extends 'base.html' %}
{% block head%}
{% endblock %}
{% block body %}
<h1>Update Password</h1>
<form action="/update/{{record.Id}}" method="POST">
        <hr>
        <div class="account-type">

          <input type="radio" value="personal" id="radioOne" name="account" checked>
          <label for="radioOne" class="radio">Personal</label>
          <input type="radio" value="enterprise" id="radioTwo" name="account" >
          <label for="radioTwo" class="radio">Enterprise</label>

        </div>
<script>
	var x = '{{ record.AccountType  }}';
      function setChecked() {
	   document.getElementById('radioOne').removeAttribute('checked');
	   document.getElementById('radioTwo').setAttribute('checked','checked');
  }
if (x == "enterprise"){
		setChecked();
	}

</script>

        <hr>
        <label id="icon" for="name"><i class="fas fa-user"></i></label>
	<input style="width:70%" type="text" name="Name" id="Name" placeholder="Name" value={{record.Name}}>
	<br>
        <label id="icon" for="name"><i class="fas fa-envelope"></i></label>
	<input style="width:70%" value={{record.Username}} type="text" name="Username" id="Username" placeholder="Username" required/>
	<br>
        <label id="icon" for="name"><i class="fas fa-unlock-alt"></i></label>
	<input style="width:70%" value={{record.Password}} type="password" name="Password" id="Password" placeholder="Password" required/>
        <div class="btn-block">
		<button type="submit" >Confirm</button>
        </div>
      </form>
	  <form action="/home" method="GET">
		  <div class="btn-block">
			  <button style="margin:0" >Back</button>
		</div>
	  </form>

</div>
{% endblock %}
